.page-title {
	margin-bottom: 10px;
}

.pageintro {
	font-size: 1.3em;
	line-height: 1.4em;
	display: block;
	margin: 3px 0px 15px 0px;
}

.book-row {
	margin: 7px 0 12px 0;
	padding: 2.3em 1.5em;
	background: rgba( lighten( $offwhite, 10 ), 0.8 );
	clear: both;
	display: block;
	border-radius: $rounded-corners;
	box-shadow: 1px 1px 1px rgba( $black, 0.2 );

	.book-sub-title {
		font-weight: normal;
		margin: 0.2em 0;
	}

	img.book-thumbnail {
		max-width: 200px;
		height: auto;
	}

	.author {
		font-style: italic;
	}
	.banner {
		@include linear-gradient(50deg, $med-green 0%, lighten( $med-green, 10 ) 50%,  lighten( $med-green, 5 ) 100% );
		color: $white;
		font-weight: bold;
		padding: 0.9em 2em;
		width: 96%;
		text-shadow: -1px -1px 1px darken( $green, 8 );
		display: block;
		position: relative;
		margin: 0 0 0 -2em;

		&:before {
			display: block;
			width: 0.6em;
			height: 0;
			position: absolute;
			bottom: -0.44em;
			left: -0.6em;
			content: "";
			border-bottom: 0.5em solid transparent;
			border-right: 0.45em solid darken( $med-green, 10 );
		}
	}

	.order {
		font-size: 1.4em;
		margin-top: 1em;
		clear: both;
		background: rgba( $blue, 0.8 );
		border: 1px solid rgba( darken( $green, 20 ), 0.6 );
		color: $white;
		border-radius: $rounded-corners;
		display: block;
		text-align: center;
		@include display(flex);
		@include align-items(center);
		@media screen and ( max-width: 810px ) {
			display: inline-block;
			margin: 1em auto;
		}

		.price {
			display: inline-block;
			padding: 0.1em 0.5em;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.63);
			font-weight: bold;
			line-height: 1.4em;
		}
	}
	blockquote {
		border-left: 5px solid rgba( $blue, 0.3 );
		color: lighten( $blue, 20 );
		font-size: 1.3em;
		margin: 0 0 0 1.2em;
		padding: 0 0 0 1.3em;
		line-height: 1.3em;

		p {
			margin: 1em 0;
		}

		p:last-child {
			margin-bottom: 0;
			font-size: 1rem;
			line-height: 1.2em;
		}
		p:first-child {
			margin-top: 0;
			font-size: 1.3em;
			line-height: 1.3em;
		}

	}
	footer.book-footer {
		@include display(flex);
		@include align-items(flex-start);
		margin-top: 2em;

		@media screen and ( max-width: 810px ) {
			display: block;
		}
	}
}

.resource-row {
	padding: 1em 2em;
}

.author-bio-box {
	background: rgba( $light-tan, 0.4 );
	border: 1px solid $light-tan;
	padding: 0.5em;
	max-width: 650px;
	margin: 1em auto;
	border-radius: $rounded-corners;

	.container {
		padding: 1em;
		width: 100%;
		background: rgba( lighten( $offwhite, 10 ), 0.9 );
		display: flex;
		align-items: center;

		.author-photo {
			width: 35%;
			padding-right: 1em;

			img {
				width: 100%;
				height: auto;
			}
		}
		.author-bio {
			width: calc( 100% - 35% );
		}

		@media screen and ( max-width: 500px ) {
			flex-direction: column;

			.author-photo,
			.author-bio {
				width: 100%;
				padding: 0;
			}
		}
	}


}


section.next-steps-area {
	margin-top: calc( -2em - 1px );
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMScgaGVpZ2h0PScyMicgdmlld0JveD0nMCAwIDUgMTAnPgoJPHJlY3Qgd2lkdGg9JzExMCUnIHg9Jy01JScgeT0nLTUlJyBoZWlnaHQ9JzExMCUnIGZpbGw9JyNiY2I1OWQnLz4KCTxsaW5lIHgxPSctMicgeTE9JzEnIHgyPSc3JyB5Mj0nMTAnIHN0cm9rZT0nI2UwZGJjOCcgc3Ryb2tlLXdpZHRoPScuNScvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nNicgeDI9JzcnIHkyPScxNScgc3Ryb2tlPScjZTBkYmM4JyBzdHJva2Utd2lkdGg9Jy41Jy8+Cgk8bGluZSB4MT0nLTInIHkxPSctNCcgeDI9JzcnIHkyPSc1JyBzdHJva2U9JyNlMGRiYzgnIHN0cm9rZS13aWR0aD0nLjUnLz4KPC9zdmc+);


	h3 {
		display: inline-block;
		background: rgba( lighten( $offwhite, 5 ), 0.9 );
		padding: 0.25em 0.5em;
		margin: 0 auto;
		line-height: 1.2;
	}

	.nsa-items-container {
		display: flex;
		width: 100%;

		@media screen and ( max-width: 980px ) {
			flex-wrap: wrap;
		}

		@media screen and ( max-width: 600px ) {
			display: block;
		}
	}

	.nsa-item {
		flex: 1;
		background: rgba( lighten( $offwhite, 5 ), 0.9 );
		padding: 2em;
		border: 1px solid lighten( $offwhite, 5 );
		box-shadow: 1px 1px 7px rgba( $dark, 0.3 );
		overflow: hidden;
		min-width: 240px;


		.featured-image {
			max-width: 400px;

			img {
				width: 100%;
				height: auto;
				border-radius: $rounded-corners;
				border: 3px solid rgba( lighten( $offwhite, 10 ), 0.8 );
			}
		}

		&.feature-or-testimonial {
			.featured-image {
				width: 50%;
				float: left;
				padding-right: 10px;
				margin: 0.5em 0 0.25em -1em;
			}
		}
	}
}