// colors
$offwhite: #e0dbc8;
$blue: #008cdd;
$green: #529239;
$med-green: #5eaf28;
$greenish-yellow: #d3e86d;
$light-tan: #bcb59d;
$tan: #767268;
$dark-tan: #625b49;
$black: #000;
$dark: #252422;
$white: #fff;



// fonts

@import 'https://fonts.googleapis.com/css?family=Merriweather:400,400i,900,900i|Open+Sans:400,400i,700,700i';

$serif: 'Merriweather', serif;
$sans: 'Open Sans', sans-serif;


// other numbers

$rounded-corners: 5px;